{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Students Scores</title>
    <link rel="stylesheet" href="{% static 'css/admin/candidate_score.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<header>
    <h1>Students Scores</h1>
    <a href="{% url 'admin_dashboard' %}" class="back-btn">Back</a>
</header>

<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>Full Name</th>
                <th>Email</th>
                <th>Score</th>
                <th>Test Date</th>
            </tr>
        </thead>
        <tbody>
            {% for s in result %}
            <tr>
                <td>{{ s.student.profile.fullname }}</td>
                <td>{{ s.student.email }}</td>
                <td>{{ s.score }}</td>
                <td>{{ s.attempt_date|date:"M d, Y H:i" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

</body>
</html>
