{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Questions</title>
    <link rel="stylesheet" href="{% static 'css/admin/view_questions.css' %}">
</head>
<body>

<header>
    <h1>All Questions</h1>
    <a href="{% url 'admin_dashboard' %}" class="back-btn">Back</a>
</header>

<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>Question</th>
                <th>Option 1</th>
                <th>Option 2</th>
                <th>Option 3</th>
                <th>Option 4</th>
                <th>Correct Answer</th>
            </tr>
        </thead>
        <tbody>
            {% for q in questions %}
            <tr>
                <td>{{ q.question_text }}</td>
                <td>{{ q.option1 }}</td>
                <td>{{ q.option2 }}</td>
                <td>{{ q.option3 }}</td>
                <td>{{ q.option4 }}</td>
                <td>{{ q.correct_answer|capfirst }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

</body>
</html>
