{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <!-- External CSS -->
    <link rel="stylesheet" href="{% static 'css/students/questions.css' %}">
</head>
<body>

    <div class="quiz-container">
        <h2>Online Quiz</h2>
        <p class="welcome">Welcome, {{ user.username }}!</p>

        <!-- Timer -->
        <div class="timer">
            Time Left: <span id="time">00:00</span>
        </div>

        <!-- Question Info -->
        <h3>Question {{ current }} of {{ total }}</h3>
        <h3>{{ question.question_text }}</h3>

        <!-- Question Form -->
        <form method="post" id="quizForm">
            {% csrf_token %}
            <label>
                <input type="radio" name="answer" value="option1" >
                {{ question.option1 }}
            </label><br>

            <label>
                <input type="radio" name="answer" value="option2">
                {{ question.option2 }}
            </label><br>

            <label>
                <input type="radio" name="answer" value="option3">
                {{ question.option3 }}
            </label><br>

            <label>
                <input type="radio" name="answer" value="option4">
                {{ question.option4 }}
            </label><br>

            <button type="submit" id="next-btn" class="btn next-btn">Next</button>
        </form>
    </div>

    <script src="{% static 'js/students/questions.js' %}"></script>
</body>
</html>
